
html, body { 
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*************
* map
**************/
#map-div {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#coordinates {
    position: absolute;
    left: 15px;
    bottom: 5px;
    color: #000;
    z-index: 50;
}

#search {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 320px;
}

.tdTemplate {
    margin: 0 5px 0 5px;
}

#locate {
    position: absolute;
    top: 95px;
    left: 22px;
    z-index: 50;
}

#edit {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 50;
}

#toolbar {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 50;
}

#drawtool {
    position: absolute;
    bottom: 20px;
    left: 60px;
    z-index: 50;
    background-color: #fff;
}

#info {
    position: absolute;
    left: 15px;
    bottom: 5px;
    color: #000;
    z-index: 50;
    background-color: #fff;
}

#layerss {
    position: absolute;
    top: 130px;
    left: 22px;
    width: 240px;
    z-index: 50;
    background-color: #fff;
}

#scale {
    position: absolute;
    bottom: 20px;
    left: 22px;
    width: 100px;   
    z-index: 50;    
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#sidePane {
    position: relative;
    float: right;
    z-index: 50;
    background-color: #fff;    
    width: 400px;
    height: 98%;
    border-radius: 0px;    
    margin: 0.5%;
    border: 1px solid black;
}

#sidePaneHeader {
    background-color: #342823;
    border-radius: 0px;
    height: 60px;
    color: white;
    font-size: 20px;
    padding: 4px;
}



#sidePaneContent {
    background-color: white;
    
    overflow: auto;
    overflow-x: hidden;
}

.content {
    
}

.panes {
    overflow: auto;
    overflow-x: hidden;
}

#sidePaneFooter {
    background-color: #DCD8D8;
    font-size: 24px;
    border-radius: 0px;
    height: 60px;
    width: 398px;
    padding: 4px 0 0 4px;
    position:absolute;
    bottom: 5px;
}

.scrolls { 
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    white-space:nowrap;
} 

.footerButtons {
    display: inline-block;
    border: 1px solid black;
    margin: 0 4px 0 0;
    cursor: pointer;
    padding: 4px;
    color: black;
}

.footerButtons:hover {    
    border: 1px solid #D84204;
}

.selectedFooterButton {
    color: #D84204;
}

#layers {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 50;
    background-color: #fff;    
    width: 300px;
    border-radius: 8px;

    margin: 0 5px 5px 0;
}

#layerheader  {
    background-color: #9F9C9C;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

#layerheader svg {
    margin: 0 5px 0 5px;
}

#layerlist {
    border-radius: 0 0 5px 5px;
    margin: 0 0 10px 0;
}

#layerlist td {
    padding: 5px;
    
}

#layerlist div {
    height: 40px;   

    padding: 12px 10px 10px 10px;
    background-color: white;

}

#layerlist div:hover {
    background-color: #DCD8D8;
}

#layerlist div span {
    margin: 0 0 0 10px;
}

#layerlist div input {
    margin: 0px 10px 0 0;
}

#layerlist h3 {    
    margin: 0 0 0 0;
    text-align: center;
}

/***********
* legenda
************/

#legenda {
    border-radius: 0 0 5px 5px;
    margin: 10px;    
    width: 380px;
    overflow: auto;
    overflow-x: hidden;
}



#legenda td {
    padding: 5px;
    height: 30px;
}

.sp {
    
}

#legenda div {
    height: 40px;   

    padding: 12px 10px 10px 10px;
    background-color: white;

}

#legenda div:hover {
    background-color: #DCD8D8;
}

#legenda div span {
    margin: 0 0 0 10px;
}

#legenda div input {
    margin: 0px 10px 0 0;
}

#legenda h3 {    
    margin: 0 0 0 0;
    text-align: center;
}

#legenda2 {
    border-radius: 0 0 5px 5px;
    margin: 10px;    
    width: 380px;
    overflow: auto;
    overflow-x: hidden;
}

/*************
* infoPane
**************/
#infoPane {
    margin: 10px;
}

#infoPaneHeader {
    background-color: #fff;
    font-size: 24px;
    padding: 10px;
}

#infoPaneHeader svg {
    margin: 0 5px 0 5px;
}

#infoPaneContent {
    padding: 10px;
    text-align: justify;
    background-color: #fff;
    font-size: 16px;
}

#contentPaneNode {
    position: relative;
    float: left;
    z-index: 50;
    background-color: #fff; 
    height: 98%;
    border-radius: 0px;    
    margin: 0.5%;
    border: 1px solid black;
}

.titleDivs {
    padding: 10px 0 0 5px;
    margin-top: 5px;
    max-width: 380px;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #e6e6e6;  
    
}

.titleDivs:hover {    
    background-color: lightgray;
}

.activeTitleDiv {
    background-color: lightgray !important;    
}



/******************
* ArmamentToolbox *
******************/
.wrapperWeaponsSwitcher {
    margin-top: 8px;
    margin-left: 10px;
}

.buttonWeaponsSwitcher {
    width: 189px;   
    
}

.weaponsPanel {
    padding: 10px;
}

#conventional div {
    margin-top: 4px;
}

.factionButtons {
    width: 126px;
}

#removeConventionalButton {
    margin-top: 10px;
    width: 127px;
}

#nukef {
    position: absolute;
    top: 5px;
    left: 500px;   
    display: none;
    z-index: 50;
    width: 192px;
    height: 140px;
    background-color: #fff;
    border-radius: 5px;
}

#armToolbox button {
    margin: 0 6px 0 4px;
}

#airPressures {
    margin: 0 0 0 6px;
}

#radioGroundAirBurst {
    margin: 0 0 0 6px;
}

#casualties p {
    margin: 0 0 2px 6px;
}

.weaponSelectors {
   width: 280px !important;
}

#selector {
   
}

.bombClearBtn {
    width: 380px;
}

#bombkinfo {
    width                 : 340px;
    height                : 240px;

}

#radiicolor {
    height                  : 40px;
    width                   : 20px;
    margin                  : 0 6px 0 0;
}

#radiusinfo {
    height                  : 40px;
    width                   : 230px; 
}

#bombinfo sup {
    font-size               : 6px;
}

/********
* Nuke *
********/

.nukeClass {
    padding: 10px;
}

.nukeClass div {
    margin-bottom: 10px;
    font-size: 16px;    
}

#basemapList {
    font-size: 14px;
}

.basemaplistclass td {
    padding: 3px !important;
}

/********
* Query *
********/

#query {
    margin: 10px;
}

.queryResults {
    padding: 5px 0 0 3px;
    margin-top: 5px;
    max-width: 380px;
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #e6e6e6;  
    
}

#queryContent div:hover {    
    background-color: lightgray;
}

.activeQueryDiv {
    background-color: lightgray !important;    
}

/**************
* Measurement *
**************/

#measurement {
    margin: 10px;
}

/**************
* World Database *
**************/

#worldDbMapNode {
    position: relative;
    float: left;
    z-index: 50;
    background-color: #fff; 
    height: 98%;
    border-radius: 0px;    
    margin: 0.5%;
    border: 1px solid black;
}

#mapd3 {
   
    
}

#block1 {
    width: 300px;
    height: 300px;
    background-color: red;
}

path {
    
    
}
path.countries {
    stroke-width: 2;
    stroke: black;
    opacity: .7;
    
}
.cities {
    stroke-width: 2;
    stroke: #F45310;
    fill: red;
}
.hiddenCities {
    stroke-width: 10;
    stroke: red;
    fill: red;
}
circle.centroid {
    fill: red;
    pointer-events: none;
}
rect.bbox {
    fill: none;
    stroke-dasharray: 5 5;
    stroke: black;
    stroke-width: 2;
    pointer-events: none;
}
path.graticule.line {
    fill: none;
    stroke-width: 1;
    stroke: black;
}
path.graticule.outline {
    stroke: black;
}


/*
*
* css startpage
*/

.wrapper {
    padding: 40px;

}

.innerWrapper {

}

